@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

    @font-face {
        font-family: 'Gilroy';
        src: url('../css/fonts/Gilroy-Semibold.woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
            font-family: 'Gilroy';
            src: url('../css/fonts/Gilroy-Bold.woff');
            font-weight: 700;
            font-style: normal;
        }

    @font-face {
            font-family: 'Gilroy';
            src: url('../css/fonts/Gilroy-Medium.woff');
            font-weight: 500;
            font-style: normal;
        }


    body {
        font-family: "Gilory", sans-serif;
        background-color: #fbfbfb;
        color: rgba(12, 12, 12, 0.4);
    }
    a {
        text-decoration: none;
    }
    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.section {
    padding-bottom: 50px;
    padding-top: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

    .container {
        width: 1180px ;
        padding: 0 15px;
        margin: 0 auto;
    }

 /* #region header*/
.header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
    .header-logo {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        }
    
    .header-nav {

        }
    
    .header-nav-list {
        display: flex;
        gap: 40px;

        }
    
    .header-nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        }
    
    .header-nav-link {
        color: #0c0c0c;
        display: block;
        padding: 30px 0;
        }

    .header-social-list {
        display: flex;
        gap: 10px;

        }
    
    .header-social-item {

        }
    
    .header-social-link {

        }
/* #endregion header*/

/* #region hero*/

    .hero {
     padding-top: 80px;
     padding-bottom: 50px;
    }

    .hero-container {


    }
.hero-wraper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

        .title-container-hero {

        }
        
    .hero-title {
        font-weight: 600;
        font-size: 72px;
        line-height: 0.875;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        max-width: 597px;
        margin-bottom: 20px;
    
        }

   
        
.discription-hero-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;

}

    .hero-title-part {
            color: #3350e9;
    }
        
        
    .hero-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        max-width: 480px;
           
        }
        
        .hero-link {
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            letter-spacing: -0.02em;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #0c0c0c;
        }
        .hero-link:hover, 
        .hero-link:focus {
            color: #3350e9;
        }
/* #endregion hero*/

/* #region about us*/
.main-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.main-list {}

.main-item {}

.main-discription {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.main-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    background: #3350e9;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    border: none;
    font-family: "Gilroy", sans-serif;
}
/* #endregion about us*/


/* #region catalog */
.main-catalog {


}

.title-catalog {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
}

.main-catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 23px;

}

.main-catalog-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;
    width: calc((100% - 2 * 23px )/ 3 );
    padding: 24px 32px;

}

.catalog-name-watch {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden ;
    margin-top: 10px;
    margin-bottom: 8px;
    
}

.catalog-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}
/* #endregion catalog */


/* #region sale */

.maine-sale {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    
}

.main-title-sale {}

.main-sale-list {}

.main-sale-item {}

.container-proposition{
    background: #3350e9;
}

.main-title-proposition {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.proposition-number-tag {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5)
}

.price-button-sale {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    background: #3350e9;
    border-radius: 8px;
    width: 78px;
    height: 32px;
    background: rgba(251, 251, 251, 0.1);
    border:none
}

.sale-old-price {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}

.proposition-tetx {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7)
}

.sale-button-list {}

.sale-button-item {
    
    
}

.sale-buttom-button{
border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: 145px;
    height: 34px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #fbfbfb;
    background: #3350e9;
}


/* #engregion sale */

