@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

    @font-face {
        font-family: 'Gilroy';
        src: url('../css/fonts/Gilroy-Semibold.woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
            font-family: 'Gilroy';
            src: url('../css/fonts/Gilroy-Bold.woff');
            font-weight: 700;
            font-style: normal;
        }

    @font-face {
            font-family: 'Gilroy';
            src: url('../css/fonts/Gilroy-Medium.woff');
            font-weight: 500;
            font-style: normal;
        }


    body {
        font-family: "Gilory", sans-serif;
        background-color: #fbfbfb;
        color: rgba(12, 12, 12, 0.4);
    }
    a {
        text-decoration: none;
    }
    ul, ol {
        list-style: none;
    }

 /* #region header*/
    .header-logo {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        }
    
    .header-nav {

        }
    
    .header-nav-list {

        }
    
    .header-nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        }
    
    .header-nav-link {
        color: #0c0c0c;
        }

    .header-social-list {

        }
    
    .header-social-item {

        }
    
    .header-social-link {

        }
/* #endregion header*/

/* #region hero*/

    .hero {}
        
    .hero-title {
        font-weight: 600;
        font-size: 72px;
        line-height: 0.875;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    
        }
        
    .hero-title-part {
            color: #3350e9;
    }
        
        
    .hero-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
           
        }
        
        .hero-link {
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            letter-spacing: -0.02em;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #0c0c0c;
        }
        .hero-link:hover, 
        .hero-link:focus {
            color: #3350e9;
        }
/* #endregion hero*/

/* #region about us*/
.main-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.main-list {}

.main-item {}

.main-discription {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.main-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    background: #3350e9;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    border: none;
    font-family: "Gilroy", sans-serif;
}
/* #endregion about us*/