@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.woff');
    font-weight: 400;
    font-style: normal;

    @font-face {
        font-family: 'Gilroy';
        src: url('../css/fonts/Gilroy-Semibold.woff');
        font-weight: 600;
        font-style: normal;

    @font-face {
            font-family: 'Gilroy';
            src: url('../css/fonts/Gilroy-Bold.woff');
            font-weight: 700;
            font-style: normal;

    @font-face {
            font-family: 'Gilroy';
            src: url('../css/fonts/Gilroy-Medium.woff');
            font-weight: 500;
            font-style: normal;
    }

    body {
        font-family: "Gilory", sans-serif;
        background: 
    }